# Python e Django
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/
.venv/
venv/
ENV/
env/
*.log
db.sqlite3
db.sqlite3-journal
staticfiles/
media/
local_settings.py
.env
.env.local

# IDEs e OS
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
Thumbs.db

# Elastic Beanstalk
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Pacotes de Deploy
*.zip
app.zip

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
